body {
    margin: 0;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
    
}

#convertBtn:active{
    background-color: #E3E3E3
}



.convertingContainer{
    width: 565px;
    text-align: center;
    background-color: #6943FF;
    color: white;
    padding: 10px;
}


#input-el{
    width: 250px;
    height: 250px;
    padding: 10px;
    display: flex;
    font-size: 50px;
    text-align: center;
    border: 2px solid #B295FF;
    box-shadow: 4px 2px black;
    margin: auto;
    background-color: transparent;
    color: white;
}



#convert-btn{
    width: 118px;
    height: 42px;
    padding: 7px 10px;
    background-color: white;
    color: #3D3D3D;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 2px black;
    margin: 15px;
}

#convert-btn:active{
    background-color: #E3E3E3
}


.measurementsContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #273549;
    margin: auto;
    padding: 20px;
    
}

.measurements-border{
    width: 500px;
    height: 108.57px;
    margin: 20px auto;
    padding: 20px 15px;
    border: 7px solid #B295FF;
    border-radius: 4px;
    background-color: black;
    color: #CCC1FF;
}



